# Jekyll
_site/
.sass-cache/
.jekyll-cache/
.jekyll-metadata

# Ruby
.bundle/
vendor/
Gemfile.lock

# Logs and temporary files
*.log
*.tmp
*.swp
*.bak
*.pid
.DS_Store
Thumbs.db

# VSCode
.vscode/

# Node
node_modules/
npm-debug.log

# Byebug command history file.
.byebug_history
